@{
    ViewData["Title"] = "Contact Page";
}

<div class="container">
    <h1 class="display-4">Contact Us</h1>
    <p>For any inquiries or assistance, please contact us:</p>

    <address>
        <strong>Inland Lake Marina</strong><br />
        Box 123<br />
        Inland Lake, Arizona<br />
        86038<br /><br />
        Office Phone: 928-555-2234<br />
        Leasing Phone: 928-555-2235<br />
        Fax: 928-555-2236<br /><br />
        Manager: Glenn Cooke<br />
        Slip Manager: Kimberley Carson<br /><br />
        Contact email: info@inlandmarina.com
    </address>

    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>