@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Welcome</h1>
            <p>
                Welcome to Inland Marina located on the south shore of Inland Lake, just a small commute from major
                centers in the southwest.
            </p>
            <p>
                Inland Marina was established in 1967 shortly after Inland Lake was created as a result of the
                Southwest dam. From its humble beginnings, it has grown to be the largest marina on Inland Lake. Due
                to the warm climate that extends year-round, Inland Lake has become a popular tourist destination in
                the southwest. Boat owners from California, Arizona, Nevada, and Utah are attracted to the area.
            </p>
            <p>
                Inland Marina has 90 slips ranging in size from 16 to 32 feet in length. Dock services include electrical
                and fresh water.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </div>
    </div>
</div>

